<% include ./partials/header %>

<div class="container">
    <a href="/create_expense" class="btn btn-success btn-create">Create Expense</a>
    <a href="/admin/image_upload" class="btn btn-primary btn-create">Upload Image</a>
    <br><br><span style="color: green;"><%= typeof messages !== "undefined" && typeof messages.info !== "undefined" ? messages.info : "" %></span>
    <% results.forEach(result => { %>
    <div class="card">
        <div class="card-body">
            <p><strong>Value:</strong> <%= result.value %></p>
            <hr>
            <p><strong>Currency:</strong> <%= result.currency %></p>
            <hr>
            <p><strong>Date:</strong> <%= result.date %></p>
            <hr>
            <p><strong>Merchant:</strong> <%= result.merchant %></p>
            <hr>
            <p><strong>Receipts:</strong> <%= result.receipts %></p>
            <hr>
            <p><strong>Comment:</strong> <%= result.comment %></p>
            <hr>
            <p><strong>Category:</strong> <%= result.category %></p>
            <hr>
            <p><strong>First:</strong> <%= result.first %></p>
            <hr>
            <p><strong>Last:</strong> <%= result.last %></p>
            <hr>
            <p><strong>Email:</strong> <%= result.email %></p>
            <hr>
            <p> <strong>Image:</strong> <img src="/billeder/<%= result.name %>" width="80"></p>
            <hr>
            <a href="/edit_expense/<%= result.id %>" class="btn btn-info">Edit</a>
            <a href="/delete_expense/<%= result.id %>" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <% }) %>
</div>